# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
venv/
ENV/
env/

# Data and configs
*.db
*.xlsx
/config.py
/reports/
*.log
/logs/

# IDE
.idea/
.vscode/

# Build and distribution
build/
dist/
*.spec

# Testing
.coverage
htmlcov/
.pytest_cache/
config.py